---
layout: layouts/home.njk
title: Learn or improve at programming in a fun and supportive environment
lead: ScalaBridge London is a community-run group for learning and improving at programming. On the technical side, we focus on the Scala programming language. On the people side, we focus on building a welcoming and supportive community for those who are underrepresented in technology.
button: true
---
<div>
    <div class='container mt-4'>
        <div class='row pt-4 pb-4'>
        <div class="col-sm">
            <h3>What is ScalaBridge?</h3>
            <p><a href="http://www.scalabridge.org/">ScalaBridge</a> is a world-wide organisation for bringing the <a href="https://www.scala-lang.org/">Scala</a> programming language to people under-represented in the tech industry. ScalaBridge London is the London chapter of ScalaBridge.</p>

            <h3>What does ScalaBridge London do?</h3>
            <p>We run free courses for people from under-represented groups to learn Scala. Our courses cater to all levels, from complete beginners to experienced developers. Our courses are taught by experienced developers (our <a href='/mentors'>mentors</a>), using a curriculum developed over a decade of teaching commercial developers and drawing from research on teaching programming. Interested? Learn more for <a href='/students'>students</a> and for <a href='/mentors'>mentors</a>.</p>
        </div>
        </div>
    </div>

  <div class="container mt-4">
    <div class="row pt-4 pb-4">
    <div class="col-sm">
      {% for post in [collections.posts | last] %}
      <h5 class="text-center mb-4 secondary-font">Latest from the blog</h5>
      <hr/>
      <h3>{{ post.data.title }}</h3>
      <p>{{ post.data.description }}</p>
      <p><a href="{{post.url}}">Read more&hellip;</a></p>
      {% endfor %}
    </div>
    </div>
  </div>
</div>
