---
layout: layouts/home.njk
title: Learn or improve at programming in a fun and supportive environment
lead: ScalaBridge London is a community run group for learning and improving at programming. On the technical side, we focus on the Scala programming language. On the people side, we focus on building a welcoming and supportive community for those who are underrepresented in technology.
button: true
---
<div>
    <div class='container mt-4'>
        <div class='row pt-4 pb-4'>
        <div class="col-sm">
            <h3>What is ScalaBridge London?</h3>
            <p>ScalaBridge London's mission has four pillars:</p>
            <ol>
              <li>Programming: learning programming is the main way we spend our time, with an emphasis on those with no or little programming experience. (We can help more experienced developers, but we're limited is how much material we can develop and teach. If you're an experienced developer please <a href="mailto:scalabridgelondon@gmail.com">scalabridgelondon@gmail.com</a> to discuss.)</li>
              <li>Diversity: we aim to increase diversity, and our efforts are focused on those currently underrepresented within the technology industry.</li>
              <li>Community: building a welcoming and supportive community between our students, and connecting students to experienced developers within the industry. ScalaBridge London is a community-run organization, which means it's run by volunteers, it serves the needs of its members, and it's completely free.</li>
              <li>Scala: <a href="https://www.scala-lang.org/">Scala</a> is the programming language we use. This is partly because the ScalaBridge London founders have a background in Scala, partly because there is a strong Scala community in London and a large number of employers, and partly because Scala lets us tackle a wide variety of different problems.</li>
            </ol>

            <p>We run free courses for people from under-represented groups to learn Scala. Our courses cater to all levels, from complete beginners to experienced developers. Our courses are taught by experienced developers (our <a href='/mentors'>mentors</a>), using a curriculum developed over a decade of teaching commercial developers and drawing from research on teaching programming. Interested? Learn more for <a href='/students'>students</a> and for <a href='/mentors'>mentors</a>.</p>
        </div>
        </div>
    </div>

  <div class="container mt-4">
    <div class="row pt-4 pb-4">
    <div class="col-sm">
      {% for post in [collections.posts | last] %}
      <h5 class="text-center mb-4 secondary-font">Latest from the blog</h5>
      <hr/>
      <h3>{{ post.data.title }}</h3>
      <p>{{ post.data.description }}</p>
      <p><a href="{{post.url}}">Read more&hellip;</a></p>
      {% endfor %}
    </div>
    </div>
  </div>
</div>
