---
layout: layouts/home.njk
title: Learn or improve at programming in a fun and supportive environment
lead: ScalaBridge London is a community run group for learning and improving at programming. On the technical side, we focus on the Scala programming language. On the people side, we focus on building a welcoming and supportive community for those who are underrepresented in technology.
button: true
---
<div>
    <div class='container mt-4'>
        <div class='row pt-4 pb-4'>
        <div class="col-sm">
            <h3>What is ScalaBridge London?</h3>
            <p>ScalaBridge London's mission is to improve diversity within the Scala community and within the wider programming community. Our actions are build on four pillars:</p>
            <ol>
              <li>Programming: learning programming is the main way we spend our time, with an emphasis on those with no or little programming experience. (We can help more experienced developers, but we're limited is how much material we can develop and teach. If you're an experienced developer please email <a href="mailto:scalabridgelondon@gmail.com">scalabridgelondon@gmail.com</a> to discuss.)</li>
              <li>Diversity: we aim to increase diversity, and our efforts are focused on those currently underrepresented within the technology industry.</li>
              <li>Community: we are a welcoming and supportive <a href="https://en.wikipedia.org/wiki/Community_of_practice">community of practice</a> bringing together <a href="/students">students</a> and <a href="/mentors">experienced industry developers</a>. Furthermore, ScalaBridge London is a community-run organization. This means our members volunteer to run it, and it's completely free to attend.</li>
              <li>Scala: <a href="https://www.scala-lang.org/">Scala</a> is the programming language we use. This is partly because the ScalaBridge London founders have a background in Scala, partly because there is a strong Scala community in London with a large number of employers, and partly because Scala lets us tackle a wide variety of different problems without having to learn different languages.</li>
            </ol>

            <p>Interested? Learn more about <a href="/what">what we do</a> and information <a href='/students'>students</a> and for <a href='/mentors'>mentors</a>.</p>
        </div>
        </div>
    </div>

  <div class="container mt-4">
    <div class="row pt-4 pb-4">
    <div class="col-sm">
      {% for post in [collections.posts | last] %}
      <h5 class="text-center mb-4 secondary-font">Latest from the blog</h5>
      <hr/>
      <h3>{{ post.data.title }}</h3>
      <p>{{ post.data.description }}</p>
      <p><a href="{{post.url}}">Read more&hellip;</a></p>
      {% endfor %}
    </div>
    </div>
  </div>
</div>
