{% macro footer() %}
<footer>
    <div class='footer pt-4 pb-4'>
        <div class="container">
            <footer>
              <p class="text-muted text-center">
                Made with 💖 by <a href="https://noelwelsh.com/">Noel Welsh</a> and the ScalaBridge London team<br/>
                Email us at {% email %}
              </p>
            </footer>
        </div>
    </div>
</footer>
{% endmacro %}
