<nav class="navbar navbar-light navbar-expand-lg pt-3 pb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <div class="navbar-nav">
      <a class='nav-emph nav-brand nav-link' href='/'>Home</a>

      <li class="nav-item dropdown">
        <a class='nav-link dropdown-toggle' data-toggle='dropdown' role='button'>Students</a>
        <div class="dropdown-menu">
          <a class='dropdown-item' href='/students/'>General</a>
          <a class='dropdown-item' href='/joining'>Joining</a>
          <a class='dropdown-item' href='/calendar'>Calendar</a>
          <a class='dropdown-item' href='/seasons'>Seasons</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class='nav-link dropdown-toggle' data-toggle='dropdown' role='button'>Mentors</a>
        <div class="dropdown-menu">
          <a class='dropdown-item' href='/mentors/'>General</a>
          <a class='dropdown-item' href='/joining'>Joining</a>
          <a class='dropdown-item' href='/mentors/teaching'>Teaching</a>
          <a class='dropdown-item' href='/mentors/curriculum'>Curriculum</a>
          <a class='dropdown-item' href='/mentors/community'>Community</a>
        </div>
      </li>

      <a class='nav-item nav-link' href='/hosts'>Hosts</a>
      <a class='nav-item nav-link' href='/blog'>Blog</a>
      <a class='nav-item nav-link' href='/about'>About</a>
    </div>
  </div>
</nav>
