---
layout: layouts/default.njk
templateClass: tmpl-post
---
<p>{% if author %}<span class="text-secondary">By</span> <strong>{{ author }}</strong>{% endif %}
{% if date %}<span class="text-secondary">on</span> {{ date | readableDate }}{% endif %}<p/>

{{ content | safe }}
